@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

*{ margin: 0 auto; padding: 0; box-sizing: border-box;}

body{
    background-color: #191A1F;
    font-family: 'Roboto', sans-serif;
    color: white;
}

header{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.header-logo{
    width: 500px;
}

.developer{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.developer-text{
    font-size: 20px;
    font-weight: lighter;
}

.gitlink{
    color: white;
    font-size: 20px;
    transition: color 0.25s ease-in-out, font-size 0.25s ease-in-out;
}

.gitlink:hover{
    color: #8743CC;
    font-size: 30px;
}